<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Agendamento</title>
    <style>
        /* Estilos CSS para o template */
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            color: #fff; /* Alterando a cor do texto para branco */
            background-color: #ec1a3b; /* Definindo a cor de fundo */
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff; /* Fundo do container branco */
            box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
            text-align: center;
        }
        h1 {
            margin-bottom: 30px;
        }
        p {
            font-size: 25px;
            margin-bottom: 30px;
            color:green ;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin-bottom: 10px;
            font-size: 20px;
        }
        .banner {
            margin-top: 20px; /* Espaçamento superior para separar o banner do conteúdo */
        }
        .banner img {
            max-width: 100%; /* Garante que o banner não ultrapasse a largura máxima */
            height: auto;
      
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Confirmação de Agendamento</h1>
        <p>Seu agendamento foi confirmado com sucesso!</p>
        <h2>Detalhes do Agendamento:</h2>
        <ul>
            <li><strong>ID:</strong> <%= id %></li>
            <li><strong>Data:</strong> <%= data %></li>
            <li><strong>Horário:</strong> <%= horario %></li>
            <li><strong>Doca:</strong> <%= doca %></li>
            <li><strong>Nota Fiscal:</strong> <%= notaFiscal %></li>
            <li><strong>CTE:</strong> <%= cte %></li>
            <li><strong>Motorista:</strong> <%= motorista %></li>
        </ul>
    </div>
    <div class="banner">
        <img src="https://sorpanalimentos.agilecdn.com.br/banners/banner-1-1712072068.jpg" alt="Descrição da imagem" >
    </div>
</div>
</body>
</html>
